.App {
  min-height: 100vh;
  background: rgba(219, 72, 14, 0.5);
}

.header{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1{
  font-size: xxx-large;
  letter-spacing: 2px;
}

.searchForm{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar{
  width: 25%;
  background:rgba(255, 246, 242, 0.9);
  border-right:none;
  border-color: black;
  font-size:large;
  padding: 10px 20px;
}

.searchButton{
  background: rgba(218, 32, 41, 0.5);
  border-color: black;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}